.content-container {
  background-position: 0em -7em;
  display: flex;
  flex-direction: column;
  background-image: url(../images/americanflag.png);
  background-size: 1440px 1080px;

  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
      .mobileShow {display: none;}
      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 150%;
        margin: 0 auto;
      }
  }

}

.mobile-show {
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
      .mobileShow {display: inline;}
  }
}

.info-box {
  width: 80%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 auto;
}

.following-info-box {
  width: 80%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 auto;
  margin-top: .4vh
}

.box-title {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-left: 3vh;
  margin-top: 1vh;
}
.box-information{
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  margin-left: 3vh;
  margin-top: -2vh;
}
