.footer-container {
  display:flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #082C7D;
  text-align: left;
}

.footer-container p{
  color: #fff;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

a:hover{
  color: yellow;
}
