.new-hamp-icon {
  position: relative;
  width: 20vh;
  margin-left: 2vh;
}
.check-mark-icon {
  position: absolute;
  width: 11vh;
  left: 50px;
  top: 65px;
}

.header-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
}

.header-title-container {
  margin-left: 3vh;
  display: flex;
  flex-direction: column;
}

.title-top-content {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  border-bottom: 3px solid rgba(231, 173, 56, 0.65);
}

.title-bottom-content {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
}
