@media (max-width: 793px) {

  .new-hamp-icon {
    width: 10vh;
    margin-left: 1vh;
    height: 10vh;
  }

  .header-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
  }

  .header-title-container {
    display: flex;
    flex-direction: column;
  }

  .title-top-content {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    border-bottom: 3px solid rgba(231, 173, 56, 0.65);
  }

  .title-bottom-content {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    margin-top: -2vh;
  }

}

@media (min-width: 794px) {

  .new-hamp-icon {
    width: 10%;
    margin-left: 2vh;
  }


  .header-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
  }

  .header-title-container {
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
  }

  .title-top-content {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    border-bottom: 3px solid rgba(231, 173, 56, 0.65);
  }

  .title-bottom-content {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
  }
}
