// registration form class
#section-modal-title {
  margin: 0 auto;
}

.ballot-form-labels {
  float: right;
}

#address-modal-title {
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}

#home-address-example-modal {
  font-size: 10px;
  float: right;
  margin: 0;
}

.sigContainer {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-left: 2rem;
  background-color: #FFFFDE;
}

.sigPad {
  width: 100%;
  height: 100%;
}
