// registration form class
#section-modal-title {
  margin: 0 auto;
}

.ballot-form-labels {
  float: right;
}

#address-modal-title {
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}

#home-address-example-modal {
  font-size: 10px;
  float: right;
  margin: 0;
}
