@media (max-width: 793px) {
  .show-form-button {
    width: 25%;
    margin: 0 auto;
    background-color: #082C7D;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
  }

  .absentee-request-statement {
    font-size: 12px;
  }

  .registration-form-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .application-container {
    display: flex;
    flex-direction: column;
  }
  .application-image {
    width: 300px;
  }

  .image {
    position: relative;
    

    p {
      position:absolute;
      font-size: 8px;
    }
    .qualifiedvoter-check-1 {
      width: 6px;
      position: absolute;
      top: 50px;
      left: 40px;
    }

    .qualifiedvoter-check-2 {
      width: 6px;
      position: absolute;
      top: 57px;
      left: 40px;
    }

    .ballotentitled-check-1 {
      width: 6px;
      position: absolute;
      top: 105px;
      left: 40px;
    }

    .ballotentitled-check-2 {
      width: 6px;
      position: absolute;
      top: 120px;
      left: 40px;
    }

    .ballotentitled-check-3 {
      width: 6px;
      position: absolute;
      top: 137px;
      left: 40px;
    }

    .ballotentitled-check-4 {
      width: 6px;
      position: absolute;
      top: 145px;
      left: 40px;
    }

    .ballotentitled-check-5 {
      width: 6px;
      position: absolute;
      top: 153px;
      left: 40px;
    }

    .stateprimary-check-true {
      width: 6px;
      position: absolute;
      top: 223px;
      left: 53px;
    }


    .stategeneral-check-true {
      width: 6px;
      position: absolute;
      top: 284px;
      left: 53px;
    }

    .partyaffiliation-check-Democrat {
      width: 6px;
      position: absolute;
      top: 286px;
      left: 48px;
    }

    .partyaffiliation-check-Republican {
      width: 6px;
      position: absolute;
      top: 277px;
      left: 48px;
    }
    
    .image-last-name {
      top: 17px;
      left: 39px;
      width: 100%;
    }

    .image-first-name {
      top: 17px;
      left: 103px;
      width: 100%;
    }

    .image-middle-name {
      top: 17px;
      left: 180px;
      width: 100%;
    }

    .image-title {
      top: 17px;
      left: 240px;
      width: 100%;
    }
    .image-home-address {
      top: 52px;
      left: 38px;
      width: 100%;
    }
    .image-cityname-h {
      top: 52px;
      left: 160px;
      width: 100%;
    }
    .image-ziopcode-h {
      top: 52px;
      left: 240px;
      width: 100%;
    }

    .image-street {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .image-street-number {
      top: 87px;
      left: 40px;
      width: 100%;
      position: absolute;
    }
    .image-street-name {
      top: 87px;
      left: 80px;
      width: 100%;
      position: absolute;
    }

    .image-aptNum {
      top: 87px;
      left: 150px;
      width: 100%;
      position: absolute;
    }
    .image-cityname-m {
      top: 87px;
      left: 172px;
      width: 100%;
      position: absolute;
    }

    .image-statename-m {
      top: 87px;
      left: 230px;
      width: 100%;
      position: absolute;
    }

    .image-zipcode-m {
      top: 87px;
      left: 257px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-first3 {
      top: 108px;
      left: 113px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-middle3 {
      top: 108px;
      left: 130px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-last4 {
      top: 108px;
      left: 155px;
      width: 100%;
      position: absolute;
    }

    .image-email-address-beginning {
      top: 125px;
      left: 102px;
      width: 100%;
      position: absolute;
    }

    .image-email-address-ending {
      top: 129px;
      left: 185px;
      width: 100%;
      position: absolute;
    }

    .image-signature {
      top: 140px;
      left: 100px;
      width: 4%;
      position: absolute;
    }

    .image-date-signed {
      top: 145px;
      left: 220px;
      width: 100%;
      position: absolute;
    }

    .image-disabled-name {
      top: 230px;
      left: 180px;
      width: 100%;
      position: absolute;
    }

    .image-signature2 {
      top: 230px;
      left: 60px;
      width: 4%;
      position: absolute;
    }
  }

  .thank-you-note {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5vh;
    width: 80%;
  }

  .thank-you-title {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 3vh;
    margin-top: 1vh;
  }

  .thank-you-description {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    margin-left: 3vh;
    margin-top: -2vh;
  }

}

@media (min-width: 794px) {
  .show-form-button {
    width: 15%;
    margin: 0 auto;
    background-color: #082C7D;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }


  .registration-form-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .application-image {
    width: 400px;
  }

  .image {
    position: relative;

    p {
      position:absolute;
      font-size: 8px;
    }

    .qualifiedvoter-check-1 {
      width: 6px;
      position: absolute;
      top: 67px;
      left: 53px;
    }

    .qualifiedvoter-check-2 {
      width: 6px;
      position: absolute;
      top: 77px;
      left: 53px;
    }

    .ballotentitled-check-1 {
      width: 6px;
      position: absolute;
      top: 140px;
      left: 53px;
    }

    .ballotentitled-check-2 {
      width: 6px;
      position: absolute;
      top: 162px;
      left: 53px;
    }

    .ballotentitled-check-3 {
      width: 6px;
      position: absolute;
      top: 183px;
      left: 53px;
    }

    .ballotentitled-check-4 {
      width: 6px;
      position: absolute;
      top: 194px;
      left: 53px;
    }

    .ballotentitled-check-5 {
      width: 6px;
      position: absolute;
      top: 205px;
      left: 53px;
    }

    .stateprimary-check-true {
      width: 6px;
      position: absolute;
      top: 298px;
      left: 70px;
    }


    .stategeneral-check-true {
      width: 6px;
      position: absolute;
      top: 319px;
      left: 70px;
    }

    .partyaffiliation-check-Democrat {
      width: 6px;
      position: absolute;
      top: 382px;
      left: 64px;
    }

    .partyaffiliation-check-Republican {
      width: 6px;
      position: absolute;
      top: 371px;
      left: 65px;
    }

    .image-last-name {
      top: 26px;
      left: 57px;
      width: 100%;
    }

    .image-first-name {
      top: 26px;
      left: 150px;
      width: 100%;
    }

    .image-middle-name {
      top: 26px;
      left: 247px;
      width: 100%;
    }

    .image-title {
      top: 26px;
      left: 327px;
      width: 100%;
    }
    .image-home-address {
      top: 73px;
      left: 53px;
      width: 100%;
    }
    .image-cityname-h {
      top: 73px;
      left: 227px;
      width: 100%;
    }
    .image-ziopcode-h {
      top: 73px;
      left: 330px;
      width: 100%;
    }

    .image-street {
      display: flex;
      flex-direction: row;
      width: 100%;

    }
    .image-street-number {
      top: 120px;
      left: 57px;
      width: 100%;
      position: absolute;
    }
    .image-street-name {
      top: 120px;
      left: 100px;
      width: 100%;
      position: absolute;
    }

    .image-aptNum {
      top: 120px;
      left: 190px;
      width: 100%;
      position: absolute;
    }
    .image-cityname-m {
      top: 120px;
      left: 223px;
      width: 100%;
      position: absolute;
    }

    .image-statename-m {
      top: 120px;
      left: 300px;
      width: 100%;
      position: absolute;
    }

    .image-zipcode-m {
      top: 120px;
      left: 345px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-first3 {
      top: 148px;
      left: 155px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-middle3 {
      top: 148px;
      left: 180px;
      width: 100%;
      position: absolute;
    }

    .image-phone-number-last4 {
      top: 148px;
      left: 217px;
      width: 100%;
      position: absolute;
    }

    .image-email-address-beginning {
      top: 176px;
      left: 153px;
      width: 100%;
      position: absolute;
    }

    .image-email-address-ending {
      top: 176px;
      left: 255px;
      width: 100%;
      position: absolute;
    }

    .image-signature {
      top: 197px;
      left: 150px;
      width: 15%;
      position: absolute;
    }

    .image-date-signed {
      top: 195px;
      left: 300px;
      width: 100%;
      position: absolute;
    }

    .image-disabled-name {
      top: 310px;
      left: 240px;
      width: 100%;
      position: absolute;
    }

    .image-signature2 {
      top: 305px;
      left: 95px;
      width: 10%;
      position: absolute;
    }
  }

  .thank-you-note {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5vh;
    width: 80%;
  }

  .thank-you-title {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 3vh;
    margin-top: 1vh;
  }

  .thank-you-description {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    margin-left: 3vh;
    margin-top: -2vh;
  }

}


