.registration-form-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.show-form-button {
  width: auto;
  margin: 0 auto;
  font-family: Raleway;
  font-style: normal;
}
