.registration-form-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.show-form-button {
  background-color: #FFFFFF;
  border-color: black;
  width: 4.75rem;
  font-size: .9rem;
  margin: 0 auto;
  font-family: Raleway;
  font-style: normal;
}
